.app {
    max-width: 500px;
    margin: 0 auto;
 
}


.app h1, img {
    
  text-align: center;
    margin-bottom: 1rem;
    font-size: 85px;
    color: #fff;
    animation: flipTitle 3s;
    
  }
  @keyframes flipTitle {
    from {
        transform:  rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}


